
#body{
    /* background-color; */
    font-size: 14px;
}
p{
    color:yellow;
    font-weight: bold;
    font-size: 20px;
}
label {
    display: inline-block;
    max-width: 100%;
    font-weight: 100;
    font-size: medium;
    margin: 25px 0px 0px 0px;
}
input, optgroup, select, textarea {
    margin: 20px 0px 0 52px;
    font: inherit;
    color: inherit;
    width: 77%;
}
.production-menu{
    width:80%;
    height: 450px;
    background-color:slategray;
    margin: auto;
    text-align: left;
    padding-left:10%;
}
.user-input-p{
    background-color:rosybrown;
    width:50%;
    padding-left:20%;
}
#label{
    background-color:blue;
    color:white;
    margin-bottom:0;
    margin-top:10px;
}
.col-sm-3 {
    width: 22.9%;
    text-align: right;
}

.btn-primary {
    color: grey;
    background-color: black;
    border-color: black;
    margin-right: 0px;
}
.btn-primary:hover {
    color: grey;
    background-color: black;
    border-color: black;
    margin-right: 0px;
}
.form-control {
    margin-bottom: 15px;
    display: block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}