ul {
    width:90%;
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color:green;
    color:white;
    font-size: 14px;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}