.App {
    text-align: center;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.App-logo {
animation: App-logo-spin infinite 20s linear;
height: 80px;
}
.dropdown, .dropup {
    position: relative;
}
.App-header {
background-color: #222;
height: 220px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding: 20px;
color: white;
}

.App-title {
font-size: 2.5em;
}
.App-subTitle {
font-size: 1.3em;
}

.App-intro {
font-size: large;
}
@keyframes App-logo-spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.form-control2 {
    margin: 19px auto;
    display: block;
    width: 70%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.navbar-nav {
    float: left;
    margin: 0;
    background-color: black;
}
.btn-primary {
    color: #fff;
    background-color: #333;
    border-color: #333;
    margin-right: 0px;
}
.btn-primary:hover {
    color: grey;
    background-color: black;
    border-color: black;
    margin-right: 0px;
}
button {
    margin: 8px;
    font: inherit;
    color: inherit;
}
/* ul {
    width:90%;
    list-style-type: none;
    margin:auto;
    padding: 0;
    overflow: hidden;
    background-color:green;
    color:white;
    font-size: 14px;
} */

/* li {
    float: right; */
/* } */

/* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
} */